<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="mailchimp-subscribe.html">

<dom-module id="footer-rel">
  <template>
    <style>

      :host {
        display: flex;
        border-top: 1px solid var(--border-light-color);
        border-bottom: 1px solid var(--border-light-color);
        flex-wrap: wrap;
        margin: 15px 0px;
        overflow: auto;
        overflow-y: hidden;
        padding: 30px 0;
        color: var(--footer-text-color);
        min-height: 200px;
        box-sizing: border-box;
      }

      .col {
        height: 100%;
        position: relative;
        width: 25%;
        box-sizing: border-box;
        padding-right: 10px;
        display: block;
      }

      .col-heading {
        -webkit-font-smoothing: antialiased;
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
        margin-bottom: 24px;
        margin-top: 0;
      }

      .nav {
        height: 100%;
        min-height: 100%;
        position: absolute;
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
      }

      a {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        border-bottom: 1px solid transparent;
        color: #616161;
        padding-bottom: 2px;
        text-decoration: none;
        transition: border-color .3s ease-out;
      }

      li {
        display: list-item;
        text-align: -webkit-match-parent;
        line-height: 25px;
      }

      li:hover {
        text-decoration: underline;
      }

    </style>
    {% for footerRel in footerRelBlock %}
      <div class="col">
        <h3 class="col-heading">{$ footerRel.headTitle $}</h3>
        <ul class="nav">
          {% for link in footerRel.links %}
          <li><a href="{$ link.url $}" target="_blank" rel="noopener noreferrer">{$ link.name $}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}

    <div class="col">
      <h3 class="col-heading">{$ subscribe $}</h3>
      <span>{$ subscribeNote $}</span>
      <mailchimp-subscribe
        url="{$ mailchimp.url $}"
        name="{$ mailchimp.name $}">
      </mailchimp-subscribe>
    </div>

  </template>

  <script>

    class FooterRel extends Polymer.Element {

      static get is() { return 'footer-rel' }

      constructor() {
        super();
      }
    }

    customElements.define(FooterRel.is, FooterRel);

  </script>
</dom-module>

